* {
  font-family: Roboto, sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Regular-webfont.woff") format("woff"),
    url("Roboto-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Italic-webfont.eot");
  src: url("Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Italic-webfont.woff") format("woff"),
    url("Roboto-Italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold-webfont.eot");
  src: url("Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Bold-webfont.woff") format("woff"),
    url("Roboto-Bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
