.traffic-images-container {
  margin: 1em 0;

  img {
    width: 100%;
  }

  .traffic-image {
    &_info {
      display: flex;
      justify-content: space-between;
    }
    &_ts {
      text-align: right;
    }
  }

  .traffic-image + .traffic-image {
    margin-top: 1em;
  }
}
